/* .container{
    max-width: 95%;
    width: 95%;
} */
body {
    font-family: Arial, Helvetica, sans-serif !important;
}
.wrapper{
    height: 98vh;
    min-height: 98vh;
}
.chart{
    height: 90vh;
    min-height: 90vh;
}