body {
    font-family: Arial, Helvetica, sans-serif !important;
}
.chart, .modal-chart{
    height: 85vh;
    min-height: 85vh;
}
@media (max-height: 600px) or (max-width: 600px){
    .chart{
        height: 75vh;
        min-height: 75vh;
    }
    .modal-chart{
        height: 90vh;
        min-height: 90vh;
    }
}
.credito{
    font-size: x-small;
}
.fundo{
    background-color: SlateGray;
}